.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(52	58	64	);
  color: white;
  height: 100px;
  font-size: 2.5rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle {
  width: 230px;
  height: 230px;
  background-color: rgb(52	58	64	);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

.circle span {
  color: rgb(103 218 249 )
}
